<div class="footer">
  <div class="container">
    <div class="row">
       <div class="col-5">
          General Information:
          <li>Business: (515) 216-1778</li>
          <li>Cell Number: (515) 444-7696</li>
          <li>Company Email Address: info@universalhr.org</li>
        </div>
       <div class="col-7">
          <br>
          <li>Company Mailing Address: 4409 163rd Street Urbandale, Iowa 50323</li>
          <li>Webmaster-- Hobbs Webdesign: Madelyn.Hobbs@gmail.com</li>
       </div>
    </div>
  </div>
</div>
