<div class="col-sm-12 text-center">
  <div class="card">
    <div class="card-block">
      <p class="card-text">
      <h3>About Us</h3>
    ---------------------
    <%= image_tag("image.png", alt: "logo", class: "mx-auto d-block", size: "150") %>
      <p class="card-text">
      Universal HR Solutions was renamed from Municipal Resource solutions in October of 2012 as the company started to perform more work within the private sector (mainly the finance and manufacturing industry).  The company was originally formed in 2006 after the Principal owner, Terry Welker, retired from a 26 year public safety career.  From 2009-2012, Mr. Welker suspended the business activity to focus on his role with the City of Scottsdale, Arizona as the Chief HR Officer when he was recruited to help the city through the Recessionary period that almost devastated the City’s finances and workforce. From 2006 to 2009, Municipal Resource Solutions primarily focused on public – sector issues until Terry began helping several private-sector employers through performing Human Resource Audits in 2012 and 2013.  As more private-sector employers requested assistance, the company’s name changed to “Universal HR Solutions” to better reflect the focus on all functions within Human Resources both public and private.
     </p>
   </p>
   <%= image_tag("pic.png", alt: "logo", class: 'card-img-top img-fluid') %>
     <h3>Terry Welker</h3>
  ---------------------------
     <p class="card-text">
     Terry Welker, SHRM-SCP/SPHR has 26 years in public safety as a Chief Officer, training specialist and criminal investigator prior to founding Municipal Resource Solutions (also known as “MR. Solutions!”), in 2006. Terry graduated Summa Cum Laude at both Hampton University (B.S.) and Troy State University-Norfolk Naval Base (Masters in Human Resources)  He was recruited by SHRM (Society of Human Resource Management) to teach the certification preparation (SHRM-CP/SCP program to HR professionals from all industries and across several continents.  Terry also teaches Employment Law, Analytics, Statistics and other courses related to Human Resources like Compensation Design and Benefits Administration.
  </p>
  </div>
 </div>
</div>
