<br />
<div class="col-sm-12 text-center">
  <div class="card">
    <div class="card-block">
      <p class="card-text">
        <h3>Client List</h3>
       ----------------------
        <div style="text-align: left; padding: 10px;">
          <ul>
            <h3>Iowa</h3>
            -----------
            <li>Iowa Waukee Community School System (Iowa)
              <li>Iowa Department of Public Health</li>
              <li>Kaplan University (Urbandale, IA.)</li>
              <li>Drake University (Des Moines, IA.)</li>
              <br />
              <h3>New York</h3>
              --------------------
              <li>Blackrock Incorporated (largest financial institution in the world)</li>
              <br />
              <h3>Arizona</h3>
              ----------------
              <li>Rural Metro Corporation</li>
              <li>Ak-Chin Indian Community</li>
              <li>City of Scottsdale</li>
              <br />
              <h3>Georgia</h3>
              ----------------
              <li>Fulton County, Georgia government</li>
              <br />
              <h3>Florida</h3>
              ----------------
              <li>City of Clearwater</li>
              <li>Barry University (Miami Beach, Fl.)</li>
              <br />
              <h3>Virginia</h3>
              -----------------
              <li>Society of Human Resource Management (SHRM)</li>
              <br />
              <h3>Hawaii</h3>
              ---------------
              <li>Shrimp Improvement Systems</li>
              <br />
              <h3>Maryland</h3>
              --------------------
              <li>General Physics</li>
          </ul>
          <br />
          <div style="text-align: left; padding: 10px;">
            <h3>Want to learn more? Contact us!</h3>
            <br />
          ----> <%= link_to 'Contact', contact_url, class: 'btn btn-primary' %>
          </div>
       </p>
     </div>
    </div>
  </div>
</div>
