<br />
<div class="col-sm-12 text-center">
  <div class="card">
    <div class="card-block">
      <p class="card-text">
        <div class="hero">
          <br />
          <div class="frosty col-8 offset-2 text-center">
            <br />
            <h3>Client List<h3>
          </div>
        </div>
        <br />
        <div style="text-align: left; padding: 5px;">
          <ul>
            <h3>Arizona</h3>
            ----------------
            <li>Ak-Chin Indian Community</li>
            <li>City of Scottsdale</li>
            <li>Rural-Metro Corporation</li>
            <br />

            <h3>Florida</h3>
            ----------------
            <li>Barry University (Miami Beach)</li>
            <li>City of Clearwater</li>
            <li>City of Lake City</li>
            <li>Columbia County</li>
            <br />

            <h3>Georgia</h3>
            ----------------
            <li>Fulton County</li>
            <br />

            <h3>Hawaii</h3>
            ---------------
            <li>Shrimp Improvement Systems</li>
            <br />

            <h3>Iowa</h3>
            -----------
            <li>Drake University (Des Moines)</li>
            <li>Department of Public Health</li>
            <li>Waukee Community School District
            <li>Kaplan University (Urbandale)</li>
            <li>Occupational Safety Consultants, LLC</li>

              <br />

              <h3>Maryland</h3>
              --------------------
              <li>General Physics</li>
              <br />

              <h3>New York</h3>
              --------------------
              <li>Blackrock Incorporated (largest financial institution in the world)</li>
              <br />

              <h3>Virginia</h3>
              -----------------
              <li>Society of Human Resource Management (SHRM)</li>
              <br />
          </ul>
       </p>
     </div>
    </div>
  </div>


</div>
