<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Terry Welker</h1>
    <br />
    <h2>HR Representative</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />

<div class="row feature text-center">

  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top img-fluid" src="/assets/note.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Our Motto</h4>
        <p class="card-text">To facilite healthy and productive work environments.</p>
        <a href="#" class="btn btn-primary">About Us</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top img-fluid" src="/assets/work.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Client list</h4>
        <p class="card-text">Learn who's part of our team and how to join!</p>
        <a href="#" class="btn btn-primary">Clients</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top img-fluid" src="/assets/pen.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Contact us</h4>
        <p class="card-text">Learn more about HR and how we are able to help.</p>
        <a href="#" class="btn btn-primary">Contact</a>
      </div>
    </div>
  </div>
</div>
