<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Terry Welker</h1>
    <br />
    <h2>HR Representative</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Mission Statement</h3>
    <br />
    <p>To facilitate healthy and productive work environments.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Contact Us</h3>
    <br />
    <p>Learn about HR and how we are able to help.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Client List</h3>
    <br />
    <p>See who's part of our team and learn how to join.</p>
  </div>
</div>
