<div class="hero">
  <br />
  <div class="frosty col-8 offset-2 text-center">
    <br />
    <h1>Why Training & Development Matters:</h1>
    <br />
    <h2>“The only thing worse than training employees and losing them, is not training them and keeping them.” - Zig Ziglar</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />

<div class="row feature text-center">

  <div class="col-sm-4">
    <div class="card">
      <%= image_tag("note.png", alt: "logo", class: 'card-img-top img-fluid') %>
      <div class="card-block">
        <h4 class="card-title">Our Motto</h4>
        <p class="card-text">To facilite healthy and productive work environments.</p>
        <a href="#" class="btn btn-primary">About Us</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <%= image_tag("work.jpg", alt: "logo", class: 'card-img-top img-fluid') %>
      <div class="card-block">
        <h4 class="card-title">Client list</h4>
        <p class="card-text">Learn who's part of our team and how to join!</p>
        <a href="#" class="btn btn-primary">Clients</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <%= image_tag("pen.png", alt: "logo", class: 'card-img-top img-fluid') %>
      <div class="card-block">
        <h4 class="card-title">Contact us</h4>
        <p class="card-text">Learn more about HR and how we are able to help.</p>
        <a href="#" class="btn btn-primary">Contact</a>
      </div>
    </div>
  </div>
</div>
