<div class="hero">
  <br />
  <div class="frosty col-8 offset-2 text-center">
    <br />
    <h1 id='box'>Universal HR Solutions</h1>
    <br />
    <h2 id='b'>Testimonial Content</h2>
    </div>
  </div>
<br />
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
          <h2>Some of our valued client’s comments:<h2>

            <i id='l'>“Getting to know Terry through his SHRM certification class gave me the confidence in his expertise, knowledge and abilities in all areas of human resources. It made for an easy decision to contract with him to assist me with a full HR audit of my company. I am an HR office of one with multiple responsibilities. His help in leading the project, researching specific areas that I identified, attending to every detail of the review, reporting out his findings and assisting me in developing a list of priorities in an action plan was enormously beneficial. It allowed me to participate in the process, ensure the thoroughness of the review, while still maintaining my day-to-day responsibilities. Terry’s knowledge, flexibility and openness to support me and my organization through the audit was invaluable and truly appreciated.”
              Kim R. – Hawaii Manufacturing Company</i>
              <br />
              <br />
            <i id='l'>“Terry is a true professional.  Serving as the Director of Human Resources, he was faced with various opportunities to work with staff members and members of our community in oftentimes precarious situations.  Terry’s professionalism never waivers.  He holds a deep understanding of what’s right and what the law allows.  With that said, he was able to communicate decisions that can be life changing in a manner that leaves everyone’s mental and emotional state intact.  Terry understands the “people” side of his job very, very well.”
            Juley M – Iowa K-12 School System</i>
            <br />
            <br />
              <i id='l'>“Through all the roles Terry has performed, he has virtually “seen it all!”  He has not only mentored me through many employee investigations and employee relations issues, but he has provided our whole administrative staff with the training they need to make great decisions.  He volunteers many hours with local HR-related professional groups (like SHRM) and teaches to the entire industry the various certification courses.  Everyone who meets Terry sees his knowledge of  HR and his passion for helping others seek their true potential.  I have grown to be a stronger, more strategic HR Executive in the past three years because of the amazing support and leadership he has shown.”
              Roxy L. – Student and former colleague</i>
              <br />
              <br />
              <i id='l'>“In working with Terry in a variety of capacities, it has become abundantly clear to me that he has the most knowledge regarding human resources and the components of a highly effective human resource department, than anyone I have ever worked with during my 21 years as a professional.  He has a solid understanding of collective bargaining and negotiating with a variety of employee groups to seek agreements that are good for both the employer and the employee.  With those experiences also comes a great deal of knowledge regarding both crafting and implementing policies and procedures.”
              - Terry H.</i>
              <br />
              <br />
              <i id='l'>“Terry’s resume will detail his extensive comprehensive human resource background.  The diversity of his experience in the human resource realm, provide a unique and qualified perspective to any employer needing an expert in the industry.  Terry has the ability to develop systems for over 1000 employees, yet can spend one hour with an employee being terminated to find a mutual “win-win” opportunity.”
              - Kirk J.</i>

        </div>
      </div>
    </div>
